/*p:nth-child(odd) {
background-color: blue;
}*/

.test {
	margin: 15px 0 15px 0;
	font-size: 20px;
}

.test img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.test h1,h2,h3,h4,h5,h6 {
	margin-left: -15px;
	border-left: 15px solid rgb(228, 117, 26)!important;
	
}

li {
	list-style-position: inside;
}
